            header{
                text-align: center;
                background: rgb(177, 177, 13);
                padding: 1%;
                font-family: sans-serif;
            }
            footer{
                text-align: center;
                background: black;
                color: white;
                clear: both;
                font-family: sans-serif;
                margin-top: 10%;
            }
            #info{
                font-family: sans-serif;
            }
            .rubimmg{
                font-family: Lucida;
                list-style: none;
                margin:1%;
            }
            div{
                width: 100%;
                height: 100%;
                padding: 0%;
                margin: 0%;
            }
            img{
                width: 20%;
                margin-bottom: 5%;
            }
            #cul{
                margin-top: 10%;
            }
            aside{
                float: right;
                margin-top: 10%;
            }
            blockquote{
                padding: 10%;
                border: 1px solid black;
                margin-bottom: 10%;
                background: #c5b30f
            }
            .roble{
                color: black;
                text-decoration: none;
                text-align: left;
                display: inline-block;
            }
            #second{
                font-size: 120%;
                margin-left: 3%;
            }
            #nave{
                background: #c5b30f;
                padding: 1%;
            }
            #pri{
                font-size: 120%;
            }
            #finn:hover{
                color: #F7DC6F;
            }
            body{
                cursor: default;
            }
